<div class="Products">
  <h1 style="text-align:center;">Products</h1>
  <div class="content">
    <mat-grid-list cols="4" rowheight="5">
      <mat-grid-tile *ngFor="let product of products" class="cards">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title
              ><b>{{ product.title }}</b>
            </mat-card-title>
            <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
          </mat-card-header>
          <img class="card-img" mat-card-img src="{{ product.images[0] }}" />
          <mat-card-content>
            <p>{{ product.description }}</p>
          </mat-card-content>
          <div>
            <mat-card-actions  style="text-align:center;">
              <button class="details-link"mat-raised-button (click)="getProductDetails(product)">
                DETAILS
              </button>
            </mat-card-actions>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
