:host{

  .productpage {
    padding: 25px;
  }
  h1 {
    text-align: center;
    color: green;
  }
  .property{
    color:green;
    font-weight: bolder;
  }
  .value{
    padding-left: 5px;
  }
 .productlabelpart{
  padding: 10px 50px;
}
.productlabel {
  padding: 10px;
}
  .product-image-block{
    img {
      max-width: 100%;
    }
  }
  .product-labels{
    display: flex;
    justify-content:center;
    padding: 20px;
    .product-label{
      padding-left: 15px;
    }

  }
}
@media (max-width: 480px) {
  .productpage {
    flex: none;
  }
  .productlabelspart {
    padding: 0px;
  }
  img {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .productpage {
    flex: none;
  }
  .productlabelspart {
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .productpage {
    display: flex;
  }
}


.grid{
  display: flex;
  padding: 20px;
  width : 100%;
  min-width: 120px;
  flex-flow: wrap;
  text-align: center;

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
.submitbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px 0px;
  button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  button:hover{
    background-color: #3e8e41;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
}
